<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-switch.min.css}"></link>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>	
<meta charset="UTF-8">
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container">
			<div class="app-title">
				<h1>
					<i class="fa fa-edit">Cadastro de Usuários</i>
				</h1>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
					<li class="breadcrumb-item"><a th:href="@{/usuario/list}">Pequisa
							de Usuários</a></li>
				</ul>
			</div>
			<div class="tile">
				<div class="tile-body">
					<form
						th:action="${usuario.id == null} 
                     ?@{/usuario/incluir}
                     :@{/usuario/alterar}"
						method="POST" th:object="${usuario}">

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/validacao :: validacao"></div>
								<div th:replace="fragments/alert"></div>
							</div>

						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12">
									  <div class="form-group">
										<div id="drop-zone">
								    	  	<input type="hidden" th:field="*{foto}" id="foto"> 
											<input type="hidden" th:field="*{contentType}" id="contentType">
											<div id="fotoDisco">
					 						    <img th:src="@{/img/default-avatar.png}" class="avatar"  id="imageUpload" name="upload" />
									    	</div>
									        <div id="fotoBanco" >
								   	            <img th:src="@{/foto/{foto}(foto=${usuario.foto})}" class="avatar" />    
									        </div>
										    <div id="clickHereLeft" style="float:left;">
									   			<input type="file" accept=".jpg,.jpeg,.png" id="fileInput"class="form-control hide btn-responsive">
												<div style="text-align: center;">
													<label for="fileInput"><i class="fa fa-upload fa-lg" aria-hidden="true"></i></label>
												</div>
											</div>
											<div id="clickHereRight" style="float:right;">
												<input type="button" id="fileExcluir" class="form-control hide btn-responsive">
												<div style="text-align: center;">
													<label for="fileExcluir"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></label>
												</div>
											</div>
										</div> 
									  </div>	
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<div class="form-group">
											<label class="control-label">Nome:</label> <input type="text"
												name="nome" id="nome" th:field="*{username}"
												class="form-control"
												th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" />
											<div class="invalid-feedback">
												<span th:errors="*{username}"></span>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12">
										<div class="form-group">
											<label class="control-label">E-mail:</label> <input
												type="text" name="email" id="email" th:field="*{email}"
												class="form-control"
												th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
											<div class="invalid-feedback">
												<span th:errors="*{email}"></span>
											</div>
										</div>
									</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Senha:</label> <input
										type="password" name="senha" id="senha" th:field="*{password}"
										class="form-control"
										th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{password}"></span>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Confirme Senha:</label> <input
										type="password" name="confirmeSenha" id="confirmeSenha"
										th:field="*{confirmeSenha}" class="form-control"
										th:classappend="${#fields.hasErrors('confirmeSenha')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{confirmeSenha}"></span>
									</div>
								</div>
							</div>
						</div>
						<fieldset>
							<legend>Grupos de Trabalho</legend>
							<div class="row">
								<th:block th:each="grupo : ${roles}">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
										<div class="form-group">
											<label th:text="${grupo.nome}"></label>
											<div class="make-switch switch-large">
												<input type="checkbox" th:value="${grupo.id}"
													th:field="*{roles}" class="js-status"
													data-off-color="danger"
													data-on-text="<i class='fa fa-check'></i>"
													data-off-text="<i class='fa fa-times'></i>" />
											</div>
										</div>
									</div>
								</th:block>

							</div>
						</fieldset>
						</div>
						</div>
				
						<input type="hidden" th:field="*{id}" id="id">
						<div class="tile-footer">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>
		<script>
		
		    var update = false;
		    
		    $(document).ready(function(){
		    	if ( update == true ) {
		    		 $('#fotoDisco').show();
		    		 $('#fotoBanco').hide();
		    		 update = false;
		    	} else {
		   		 	$('#fotoDisco').hide();
		   		 	$('#fotoBanco').show();
		    	}
		    });
		
		    $('.js-status').bootstrapSwitch();
			  
			$("#fileInput").change(function(event) {  
			  enviarFoto(this);    
			});
			
			
			$('#fileExcluir').click(function(event){
				excluirFoto();				
			});
			
			function enviarFoto(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					var filename = $("#fileInput").val();
					filename = filename.substring(filename.lastIndexOf('\\') + 1);
					reader.onload = function(e) {
						$('#imageUpload').attr('src', e.target.result);
						$('#imageUpload').hide();
						$('#imageUpload').fadeIn(500);
					}
					reader.readAsDataURL(input.files[0]);
					sendToServer(input.files[0]);
				}
				
			}
			
			
			function sendToServer(input){
				var token = $('#_csrf').attr('content');
				var header = $('#_csrf_header').attr('content');
				formData = new FormData();
				var host = location.protocol+"//"+$(location).attr('host');   
				if (formData){
					formData.append("foto",input);
					$.ajax({
						url:host+'/foto/gravar',
						method:'POST',
						data:formData,
					    datatype: 'json',
					    processData: false,
					    contentType: false,
						beforeSend: function(xhr) {
                           xhr.setRequestHeader(header, token);
                        },
						success:function(response){
							$("#foto").val(response.nomeArquivo);
							$("#contentType").val(response.contentType)
							
						},
					});
				}
			}
			
			
			function excluirFoto() {
				var token = $('#_csrf').attr('content');
				var header = $('#_csrf_header').attr('content');
				var host = location.protocol+"//"+$(location).attr('host');
				var myfoto=$('#foto').val();
				var id=$('#id').val();
				
				var ExcluirFoto = {
					nomeArquivo : myfoto,
					id : id
				};
				
				$.ajax({
					url:host+'/foto/delete',
					type:'POST',
					data:JSON.stringify(ExcluirFoto),
					dataType:'JSON',
	        		contentType:'application/json',
					beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
					success:function(response){
						console.log(response.contentType );
						$('#fotoBanco').hide();
						$('#fotoDisco').show();
						$('#foto').val('');
		                $('#contentType').val('');
		              	update = true;
					},
				});
			}

		</script>
	</th:block>
</body>
</html>